*{
    margin: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 100px;
    width: 100px;
    border: 1px black solid;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}